/*change background color */
body{
  color: hsl(230, 17%, 14%);
  background: hsl(230, 17%, 14%);
}

#heading-container, .media-box, .overview-box{
  background-color: hsl(228, 28%, 20%);
}

#social-media-dashboard :hover, #overview-dashboard :hover{
  background-color:  hsl(225, 44%, 28%)
}

/*change font color */
#header-heading, .dark-text, #username, #followers, #overview-heading, .title, .numbers, .range{
  color:#e3e3e1;
}

#total-followers, .followers-text{
  color:hsl(228, 34%, 66%);
}