/*change background color */
body{
  color: hsl(230, 17%, 14%);
  background: hsl(230, 17%, 14%);
}

#heading-container{
  color: hsl(230, 17%, 14%);
  background: hsl(230, 17%, 14%);
}

.media-box, .overview-box{
  background-color: hsl(228, 28%, 20%);
}

/*change font color */
#header-heading, .dark-text, #username, #followers, #overview-heading, .title, .numbers, .range{
  color:white;
}

#total-followers, .followers-text{
  color:hsl(228, 34%, 66%);
}